[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
kubernetes = "~=11.0"
prometheus-client = "*"
prometheus-flask-exporter = "*"
gunicorn = "*"
werkzeug = "*"
opentelemetry-sdk = "*"
opentelemetry-instrumentation = "*"
opentelemetry-instrumentation-flask = "*"
opentelemetry-instrumentation-requests = "*"
opentelemetry-exporter-zipkin = "*"

[requires]
python_version = "3.8"
